.createContainer {
  width: 100%;
  min-height: 14vh;
  border-radius: 10px;
}
.createWrapper {
  padding: 10px;
}
.createTop {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}
.createInput {
  border: none;
  width: 100%;
  height: 5rem;
  padding: 10px;
  background-color: aqua;
  border-radius: 20px;
  font-size: larger;
}
.createInput:focus {
  outline: none;
}
.createHr {
  margin-bottom: 1rem;
}
.createBottom {
  display: flex;
  justify-content: center;
}
.createBtn {
  border: none;
  border-radius: 5px;
  padding: 7px;
  cursor: pointer;
}
